body{
    margin: 0;
    padding: 0;
    background-color: slategrey;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
header{
    background: #1abc9c;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 34px;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
}
nav{
    padding: 0px;

}
section{
    background-color: #e1f1fd;
    border-radius: 5px;
    color: #555;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
article{
    border: 2px groove darkcyan;
    margin: 10px;
    padding: 10px;
    width: 98%;
}
aside{
    border: 2px groove darkcyan;
    margin: auto;
    padding: auto;
    width: 49%;
    height: 450px;
    vertical-align: middle;
    display: inline-block;
}
footer{
    position: sticky;
    padding: 8px;
    background-color: #333;
    overflow: hidden;
}
.listBox{
    border: 2px groove darkcyan;
    border-radius: 5px;
    margin-top: 50px;
    padding: auto;
    width: 45%;
    height: 240px;
    vertical-align: middle;
    display: inline-block;
}
.contactBox{
    border: 2px groove darkcyan;
    list-style-type: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px;
    width: auto;
    height:auto;
    vertical-align: middle;
    display: inline-block;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
nav li {
float: left;
border-right:1px solid #bbb;
}
nav li:last-child {
border-right: none;
}
nav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
nav li a:hover:not(.active) {
background-color: #111;
}
.active
{
    background-color: #04AA6D;
}